{% extends 'base.html.twig' %}
{% block title %}Creation d'une recette{% endblock %}

{% block body %}
    <div class="container">
        <h1 classe="mt-4">Creation d'une Recette</h1>
    </div>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}