{% extends 'base.html.twig' %}

{% block title %} Profil{% endblock %}


{% block body %}
    <div class="container mt-4">
        <h1 class="mt-4">Profil</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{ message }} !</strong>
            </div>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
